body {
  margin: 0;
}

.track {
  color: rgb(255, 174, 0);
  padding-left: .3rem;
  line-height: 125%;
  user-select: none;
}

.track:nth-child(odd) {
  background-color: rgb(29, 20, 203);
}

.track:nth-child(even) {
  background-color: rgb(50, 43, 200);
}

.track:hover {
  background-color: aqua;
  color: white;
}
