body {
  margin: 0;
  font-family: monospace;
}

.controls {
  background-color: #202065;
  color: #ffffff;
  user-select: none;
}

.controls > svg {
  transform: scale(.75);
  margin-bottom: -0.2rem;
}

polygon {
  user-select: none;
}

.track {
  color: rgb(255, 174, 0);
  padding-left: .3rem;
  line-height: 125%;
  user-select: none;
  border: #181292 solid 1px;
}


.track:nth-child(odd) {
  background-color: rgb(29, 20, 203);
}

.track:nth-child(even) {
  background-color: rgb(50, 43, 200);
}

.track-list > .selected-track {
  color: rgb(39, 28, 236);
  background-color: rgb(255, 187, 40);
}

.track:hover {
  background-color: rgb(95, 222, 222);
  color: black;
}

.hidden {
  display: none;
}
