body {
  margin: 0;
  font-family: monospace;
}

.now-playing {
  position: fixed;
  width: 100%;
  background-color: #1b1852;
  color: rgb(255, 174, 0);
  text-align: center;
  font-size: 120%;
}

.controls {
  position: fixed;
  width: 100%;
  background-color: #13136d;
  color: #ffffff;
  user-select: none;
  margin-top: 1.13rem;
  display: flex;
  justify-content: center;
}

.controls>svg {
  transform: scale(.6);
  margin-bottom: -0.05rem;
}

polygon {
  user-select: none;
}

.volume-slider {
  width: 20%;
  transform: scale(.7);
  margin-inline: -2%;
}

.timer {
  margin-left: 1rem;
  margin-block: auto;
}

.track-list {
  padding-top: 2.55rem;
}

.track {
  color: rgb(255, 174, 0);
  padding-left: .3rem;
  line-height: 125%;
  user-select: none;
  border: #2820c6 solid 1px;
}

.track:nth-child(odd) {
  background-color: rgb(32, 23, 197);
}

.track:nth-child(even) {
  background-color: rgb(54, 46, 205);
}

.track-list>.selected-track {
  color: rgb(18, 14, 97);
  background-color: rgb(241, 142, 29);
  border: rgb(255 186 58) solid 1px;
}

.track:hover {
  background-color: rgb(115, 138, 241);
  color: rgb(0, 3, 160);
}

.hidden {
  display: none;
}
