body {
  margin: 0;
  font-family: monospace;
}

.now-playing {
  position: fixed;
  width: 100%;
  background-color: #1b1852;
  color: rgb(255, 174, 0);
  text-align: center;
  font-size: 120%;
}

.controls {
  position: fixed;
  width: 100%;
  background-color: #13136d;
  color: rgb(255, 174, 0);
  user-select: none;
  margin-top: 1.13rem;
  display: flex;
  justify-content: center;
}

.controls>svg {
  cursor: pointer;
  margin-bottom: -0.04rem;
  margin-left: .25rem;
  transform: scale(.75);
}

.controls>svg:hover {
  color: white;
  transition-duration: .15s;
}

polygon {
  user-select: none;
}

.volume-slider {
  transform: scale(.7);
  margin-inline: -.85rem;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: rgb(198, 129, 0);
  width: 100px;
  height: .55rem;
  margin-top: .5rem;
  margin-bottom: 0.385rem;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: rgb(32, 88, 218);
  width: 8px;
  height: 1.2rem;
  border-radius: 3px;
}

.timer {
  margin-left: 1rem;
  margin-block: auto;
}

.track-list {
  padding-top: 2.55rem;
}

.track {
  color: rgb(255, 174, 0);
  padding-left: .4rem;
  padding-block: .04rem;
  line-height: 125%;
  user-select: none;
  border: #2820c6 solid 1px;
}

.track:nth-child(odd) {
  background-color: rgb(32, 23, 197);
}

.track:nth-child(even) {
  background-color: rgb(21 12 193);
}

.track-list>.selected-track {
  color: rgb(18, 14, 97);
  background-color: rgb(241, 142, 29);
  border: rgb(223 218 121) solid 1px;
}

.track:hover {
  background-color: rgb(115, 138, 241);
  color: rgb(0, 3, 160);
}

.credits {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff9148;
  padding: 0;
  padding-bottom: .3rem;
  text-align: center;
}

.credits a {
  color:#d89000;
  font-size: 7pt;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #7f6157;
}

::-webkit-scrollbar-thumb {
  background-color: #ff9148;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(78, 145, 255);
}

.hidden {
  display: none;
}
